<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoju.framework.mapper.ExecRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiaoju.framework.entity.ExecRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="case_id" jdbcType="BIGINT" property="caseId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="env" jdbcType="INTEGER" property="env" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="pass_count" jdbcType="INTEGER" property="passCount" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="success_count" jdbcType="INTEGER" property="successCount" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="choose_content" jdbcType="VARCHAR" property="chooseContent" />
    <result column="executors" jdbcType="VARCHAR" property="executors" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="expect_start_time" jdbcType="TIMESTAMP" property="expectStartTime" />
    <result column="expect_end_time" jdbcType="TIMESTAMP" property="expectEndTime" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaoju.framework.entity.ExecRecord">
    <result column="case_content" jdbcType="LONGVARCHAR" property="caseContent" />
  </resultMap>

  <sql id="Base_Column_List">
    id, case_id, title, env, is_delete,pass_count, total_count,success_count,creator, modifier,description,executors,gmt_created,gmt_modified,choose_content,expect_start_time,expect_end_time,owner
  </sql>
  <sql id="Blob_Column_List">
    case_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from exec_record
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByCaseId" parameterType="java.lang.Long">
    update exec_record set is_delete =1
    where case_id = #{case_id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.xiaoju.framework.entity.ExecRecord">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into exec_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
      id,
    </if>
      <if test="caseId != null">
        case_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="env != null">
        env,
      </if>
      <if test="caseContent != null">
        case_content,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="passCount != null">
        pass_count,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="chooseContent != null">
        choose_content,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="expectStartTime != null">
        expect_start_time,
      </if>
      <if test="expectEndTime != null">
        expect_end_time,
      </if>
      <if test="owner != null">
        owner
      </if>
    </trim>
   <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
      #{id,jdbcType=BIGINT},
    </if>
     <if test="caseId != null">
       #{caseId,jdbcType=BIGINT},
     </if>
     <if test="title != null">
       #{title,jdbcType=VARCHAR},
     </if>
     <if test="env != null">
       #{env,jdbcType=INTEGER},
     </if>
     <if test="caseContent != null">
       #{caseContent,jdbcType=LONGVARCHAR},
     </if>
     <if test="isDelete != null">
       #{isDelete,jdbcType=INTEGER},
     </if>
     <if test="passCount != null">
       #{passCount,jdbcType=INTEGER},
     </if>
     <if test="totalCount != null">
       #{totalCount,jdbcType=INTEGER},
     </if>
     <if test="creator != null">
       #{creator,jdbcType=VARCHAR},
     </if>
     <if test="modifier != null">
       #{modifier,jdbcType=VARCHAR},
     </if>
     <if test="description != null">
       #{description,jdbcType=VARCHAR},
     </if>
     <if test="chooseContent != null">
       #{chooseContent,jdbcType=VARCHAR},
     </if>
     <if test="gmtCreated != null">
       #{gmtCreated,jdbcType=TIMESTAMP},
     </if>
     <if test="gmtModified != null">
       #{gmtModified,jdbcType=TIMESTAMP},
     </if>
     <if test="expectStartTime != null">
       #{expectStartTime,jdbcType=TIMESTAMP},
     </if>
     <if test="expectEndTime != null">
       #{expectEndTime,jdbcType=TIMESTAMP},
     </if>
     <if test="owner != null">
       #{owner,jdbcType=VARCHAR}
     </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.xiaoju.framework.entity.ExecRecord">
    update exec_record
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="passCount != null">
        pass_count = #{passCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        success_count = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="executors != null">
        executors = #{executors,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="caseContent != null">
        case_content = #{caseContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateContentById" parameterType="com.xiaoju.framework.entity.ExecRecord">
    update exec_record
    <set>
      <if test="caseContent != null">
        case_content = concat(case_content, #{caseContent,jdbcType=VARCHAR}),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listRecordByCaseId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
     from exec_record
      where case_id = #{caseId,jdbcType=BIGINT} and is_delete = 0
    order by id desc
  </select>


  <select id="getEnvList"  parameterType="com.xiaoju.framework.entity.ExecRecord" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from exec_record
      where case_id = #{caseId,jdbcType=BIGINT} and is_delete = 0 and env = #{env,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    update exec_record set is_delete =1
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="editRecord" parameterType="com.xiaoju.framework.entity.ExecRecord">
    update exec_record
    <set>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="chooseContent != null" >
        choose_content = #{chooseContent,jdbcType=VARCHAR},
      </if>
      <if test="expectStartTime!=null">
        expect_start_time = #{expectStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectStartTime==null">
        expect_start_time = '1971-01-01 00:00:00',
      </if>
      <if test="expectEndTime!=null">
        expect_end_time = #{expectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectEndTime==null">
        expect_end_time = '1971-01-01 00:00:00',
      </if>
      <if test="owner != null">
        owner = #{owner, jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByRequirementId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from exec_record
    where case_id in (
    select id from test_case where FIND_IN_SET(#{requirementId,jdbcType=VARCHAR},requirement_id) and is_delete=0
    <if test="channel!= null ">
      and channel = #{channel,jdbcType=INTEGER}
    </if>
    ) and is_delete=0 order by id desc
    limit ${offset},${pageSize}
  </select>

  <select id="selectByRequirementTotal" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(*)
    from exec_record
    where case_id in (
    select id from test_case where FIND_IN_SET(#{requirementId,jdbcType=VARCHAR},requirement_id) and is_delete=0
    <if test="channel!= null ">
      and channel = #{channel,jdbcType=INTEGER}
    </if>
    ) and is_delete=0 order by id desc
  </select>

  <select id="getRecordNumByCaseIds" parameterType="java.lang.Long" resultType="com.xiaoju.framework.entity.RecordNum">
    select
    case_id as caseId, count(*) as recordNum
    from exec_record
    where case_id in
    <foreach collection="list" item="caseId" open="(" separator="," close=")">
      #{caseId}
    </foreach>
    and is_delete=0
    group by case_id
  </select>

</mapper>